* {
  background-color: black;
  color: white;
}
h1 {
  text-transform: uppercase;
}

.meme {
  width: 900px;
  height: 600px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  width: 50%;
  margin-left: 25%;
  margin-top: 200px;
}
.img-moment {
  border: 5px solid white;
  width: 100%;
}
